
.menu {
    background-color: #e8e4e4; 
    position: absolute; 
     
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px; 
}

.menu ul li {
    display: block; 
}

.menu ul li a {
    display: block;
    padding: 10px; 
    text-decoration: none;
    color: #315eff; 
    background-color: #e8e4e4; 
}

.menu ul li a:hover {
    background-color: #ddd; 
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%; 
        position: relative; 
    }
    .menu ul {
        display: block; 
        width: 100%; 
        text-align: left; 
    }
    .menu ul li {
        display: inline-block; 
        width: auto; 
    }
    .menu ul li a {
        padding: 10px 15px; 
    }
}
